/* Custom Giscus theme for danielconstantin.net (dark) */
@import url("https://cdn.jsdelivr.net/gh/giscus/giscus@main/styles/themes/dark_dimmed.css");

main {
  --color-accent-fg: #2196f3;
  --color-accent-emphasis: #2196f3;
  --color-accent-muted: rgb(60, 60, 60);
  --color-border-default: rgb(60, 60, 60);
  --color-border-muted: rgb(50, 50, 50);
  --color-canvas-default: rgb(35, 35, 35);
  --color-canvas-inset: rgb(35, 35, 35);
  --color-canvas-overlay: rgb(35, 35, 35);
  --color-canvas-subtle: rgb(35, 35, 35);
  --color-neutral-muted: rgb(50, 50, 50);
}
