/* Custom Giscus theme for danielconstantin.net (light) */
@import url("https://cdn.jsdelivr.net/gh/giscus/giscus@main/styles/themes/light.css");

main {
  --color-accent-fg: #2196f3;
  --color-accent-emphasis: #2196f3;
  --color-accent-muted: rgb(215, 215, 215);
  --color-border-default: rgb(215, 215, 215);
  --color-border-muted: rgb(225, 225, 225);
  --color-canvas-default: rgba(245, 245, 245);
  --color-canvas-inset: rgba(245, 245, 245);
  --color-canvas-overlay: rgba(245, 245, 245);
  --color-canvas-subtle: rgba(245, 245, 245);
  --color-neutral-muted: rgb(235, 237, 239);
}
